/* Universal styles */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Verdana";
    font-weight: normal;
    text-align: center;
}

/* Headings */
h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

h2 {
    font-size: 42px;
    font-weight: 300;
    color: white;
}

h4 {
    font-weight: normal;
    font-size: 21px;
    color: gray;
}

/* Links */
p a {
    color: aquamarine;
}

footer p {
    color: gray;
    text-align: right;
}