/* Universal styles */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Verdana";
    font-weight: normal;
    color: white;
    text-align: center;
}

/* Rest of the page */
.headline {
    font-size: 50px;
}

span a {
    color: aquamarine;
}

.headings {
    font-size: 42px;
    font-weight: 300;
}

.description {
    font-size: 21px;
    color: gray;
}

footer p {
    color: gray;
    text-align: right;
}